.section {
	margin-left: 300px;
	height: 100vh;
	min-height: 800px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center; 
    background-size: cover;
}

.section h1 {
	font-size:64px;
	padding-top: 64px;
	padding-bottom: 64px;
	color: white;
}

.section p {
	font-size:24px;
	padding-top: 32px;
	padding-bottom: 32x;
	color: white;
}

.contact a {
    text-decoration: none;
	color: white;
}

.contact a:hover {
    text-decoration: underline;
}

.panel {
	border-radius: 10px;
	background-color: #00000099;
	box-shadow: 3px 3px 5px #00000044;
	color: white;
	font-size: 20px;
	text-align: left;
}

.panel img {
	height: 64px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
}