#section {
  background-color: #2E2E2E;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  height:100%;
  width:100%;
  display:inline-block;
}

#header {
  font-size: 128px;
  margin-top: 100px;
  margin-left: 80px;
  color: white;
  font-family: Verdana;
}

#subheader {
  font-size: 64px;
  margin-top: 20px;
  margin-left: 80px;
  color: white;
  font-family: Verdana;
}

#smalltext {
  font-size: 32px;
  margin-top: 20px;
  margin-left: 80px;
  color: white;
  font-family: Verdana;
}
